.site-header {
    background-color: rgba(24, 63, 96, .95);
}

.site-header a {
    color: #dcd5d5;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}